:root {
  --zaa-margin-20: 20px;
  --zaa-margin-50: 50px;
}

.detailContainer {
  margin-block-start: var(--zaa-margin-20);
  margin-inline-start: var(--zaa-margin-20);
  margin-inline-end: var(--zaa-margin-20);
}

.listHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-main-background);
  border-bottom: 1px solid var(--color-border);
}

.searchField {
  padding-inline-start: 65px;
  padding-inline-end: 20px;
  margin-block-start: 11px !important;
  margin-block-end: 11px !important;
}

.selectedZaakIcon>svg {
  fill: white;
}

.publishedIcon>svg {
  fill: green;
}
.warningIcon>svg {
  fill: yellow;
}

/* .loadingIcon {
  margin-block-start: var(--zaa-margin-20);
} */