:root {
  --zaa-margin-20: 20px;
  --zaa-margin-50: 50px;
}

.detailContainer {
  margin-block-start: var(--zaa-margin-20);
  margin-inline-start: var(--zaa-margin-20);
  margin-inline-end: var(--zaa-margin-20);
}
